body {
   @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Condensed&display=swap');


   font-family: 'Josefin Sans', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
   background-color: #f1f1f1;
   color: rgb(0, 0, 0)
}

.container {
   max-width: 750px;
   margin: auto;
   padding-top: 10px;
}

.info {
   display: flex;
   margin: 40px 50px 10px 50px;
}

.info-text {
   margin: 40px;
}

@media (max-width: 1300px) {
   .info {
      text-align: left;
      display: block;
   }
}


.image {
   height: auto;
   width: 600px;
   border-radius: 20px;
   border: 1px solid;
   box-shadow: 5px 5px 15px rgb(31, 31, 31);
}

h1,
h2 {
   text-align: center;
}

.bg-cream {
   background-color: #FFFDD0;
   border-radius: 20px;
   padding: 2px 25px;
   margin-bottom: 70px;
   border: 1px solid;
   border-color: #e2e0b8;
}

h1 {
   padding-top: 10px;
}

h2 {
   border-bottom: 1px solid;
}

.list li {
   padding: 0 20px;
   margin-bottom: 10px;
   list-style: none;
}

h3 {
   padding-top: 25px;
   border-bottom: 1px solid;
}

.note {
   min-width: 330px;
   text-align: left;
   margin-left: 47px;
   margin-right: 800px;
   margin-bottom: 60px;
   border-bottom: 1px solid #000;
}

button {
   height: 30px;
   width: 90px;
   margin: 7px 10px;
   background-color: rgb(236, 181, 181);
   border: 1px solid;
   border-radius: 5px;
}

button:hover {
   opacity: 0.75;
}

button {
   height: 30px;
   width: 90px;
   margin: 7px 10px;
   background-color: #FFFDD0;
   border: 1px solid;
   border-radius: 5px;
}

button:hover {
   opacity: 0.75;
}